Package: config-for-prometheus
Version: 1.1-1
Architecture: all
Maintainer: Denis <admin@local>
Installed-Size: 19
Depends: prometheus, prometheus-alertmanager, prometheus-node-exporter
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
